/* Smooth scrolling handled by Lenis */

body {
  font-family: 'Cinzel', serif;
  font-weight: 900;
  width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: serif;
  font-weight: 500;
}
